html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.warning {
    grid-row: 1 / 2;
    grid-column: 2 / 2;
    display: flex;
    align-items: center;
}

.balloon {
    font-size: 20px;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    align-self: start;
}

#animal-face {
    font-size: 60px;
    margin-right: 10px;
}

/* Speech bubble style via 
https://leaverou.github.io/bubbly/ */
#warning-message {
    font-family: "Candara", "Futura", "Gill Sans", sans-serif; 
    position: relative;
	background: #ffdcd0;
    border-radius: .4em;
    padding: 15px;
    margin-left: 10px;
}

#warning-message::after {
    content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #ffdcd0;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}